<% content_for :page_title, @content.part_title if @content.present? && %w[NewsItemPart YoutubeItemPart].include?(@content.type) %>

<% cache_unless request.host.match(Settings['app.nocache_host'].to_s),
                request.fullpath.to_s.parameterize('_').gsub('-', '_'),
                expires_in: 5.minutes do %>

  <div class='inner-page-wrapper<%= right_side_present? ? ' with-right-bg' : nil  %>'>
    <div class='container'>
      <div class='row'>
        <div class='<%= right_side_present? ? 'col-lg-9 col-md-9 col-sm-8 col-xs-12' : 'col-xs-12' %> left-side'>
          <%= render_partial_for_region @breadcrumbs if @breadcrumbs.present? %>

          <% @dissertation_councils.each do |council| %>
            <div class='content index'>
              <div class='js-simple-collapser'>
                <h5><%= council.number %></h5>
                <div class='collapser-content'>
                  <p>
                    <strong>
                      Перечень специальностей, по которым диссертационному
                      совету разрешено проводить защиту диссертаций на соискание учёной
                      степени кандидата наук, доктора наук
                    </strong>
                  </p>

                  <% if council.specialities.present? %>
                    <ul class='ul-rhombus'>
                      <% council.specialities.sort_by{ |speciality| speciality.row_order_for(council) }.each do |speciality| %>
                        <li><strong><%= speciality.code %></strong> <%= speciality.title %></li>
                      <% end %>
                    </ul>
                  <% end %>

                  <% if council.people.present? %>
                    <p><strong>Состав диссертационного совета</strong></p>
                    <table>
                      <thead class='gray-bg'>
                        <tr>
                          <th>ФИО, должность в совете</th>
                          <th>Место работы, должность</th>
                          <th>Специальность</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% council.people.sort_by{ |person| person.row_order_for(council) }.each do |person| %>
                          <tr>
                            <td>
                              <p>
                                <span class='no-wrap-words'><%= person.url.blank? ? person.fullname : link_to(person.fullname, person.url, target: '_blank') %></span>
                                <br>
                                <span class='gray-text small'><%= person.post_for(council).title %></span>
                              </p>
                            </td>
                            <td>
                                <p>
                                  <%= person.work_place if person.work_place.present? %><br>
                                  <span class='gray-text small'><%= person.science_degree %>, <%= person.work_post if person.work_post.present? %></span>
                                </p>
                            </td>
                            <td>
                              <% if person.post_for(council).speciality.present? %>
                                <abbr title="<%= person.post_for(council).speciality.title %>"><%= person.post_for(council).speciality.code %></abbr>
                              <% end %>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>

        <% if right_side_present? %>
          <div class='col-lg-3 col-md-3 col-sm-4 col-xs-12 right-side'>
            <% if (@right_navigation_without_title.present? || @right_navigation_with_title.present?) && @content.present? &&
                  (@content.type == 'NewsListPart' || @content.type == 'NewsItemPart' || @content.type == 'EventsListPart') %>
              <%= render partial: 'regions/inner_right_navigation_with_archive_part' %>
            <% else %>
              <%= render_partial_for_region(@right_navigation_with_title, 'inner_right_with_title') if @right_navigation_with_title.present? %>
              <%= render_partial_for_region(@right_navigation_without_title, 'inner_right_without_title') if @right_navigation_without_title.present? && @right_navigation_with_title.blank? %>
            <% end %>

            <%= render_partial_for_region(@right_links, 'inner_right_links') if @right_links.present? %>
            <%= render_partial_for_region(@right_contacts, 'inner_right_contacts') if @right_contacts.present? %>
            <%= render_partial_for_region(@right_documents, 'inner_right_documents') if @right_documents.present? %>
            <%= render_partial_for_region(@right_advert, 'inner_right_advert') if @right_advert.present? %>
            <%= render_partial_for_region(@right_html_part, 'inner_right_html_part') if @right_html_part.present? %>
            <%= render_partial_for_region(@right_news_part, 'inner_right_news_part') if @right_news_part.present? %>
            <%= render_partial_for_region(@right_events, 'inner_right_events') if @right_events.present? %>
          </div>
        <% end %>

      </div>
    </div>
  </div>

<% end %>

