<%= simple_form_for @dissertation_council, url: [:manage, @dissertation_council] do |f| %>
  <%= f.error_notification %>

  <div class='form-inputs'>
    <%= f.input :number, autofocus: true %>
  </div>

  <div class='form-actions'>
    <%= f.button :submit, 'Сохранить', class: 'btn btn-primary' %>
    <% if @dissertation_council.new_record? %>
      <%= link_to 'Назад', manage_dissertation_councils_path, class: 'btn btn-default' %>
    <% end %>
    <% if @dissertation_council.persisted? %>
      <%= link_to 'Назад', manage_dissertation_council_path(@dissertation_council), class: 'btn btn-default' %>
      <%= link_to 'Удалить', manage_dissertation_council_path(@dissertation_council), method: :delete,
        data: { confirm: 'Вы уверены?' }, class: 'btn btn-default pull-right' %>
    <% end %>
  </div>
<% end %>
