<!DOCTYPE HTML>
<html lang='<%= I18n.locale %>'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title><%= t('app.manage')%></title>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag    'manage/application', media: 'all' %>
    <%= javascript_include_tag 'manage/spa' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class='page_wrapper'>
      <div class='overlay js-overlay hidden-xs'></div>
      <%= render partial: 'manage/application/navigation' %>
      <div class='container'>
        <%= yield %>
      </div>
    </div>
    <%= render :partial => 'application/footer' %>
  </body>
</html>
